@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-bf-color: #262b40;
    --text-color: #fff;
    --main-color: #59b2f4;   
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height:100vh;
    padding: 10rem 9% 2rem;
}

. header {
    position: fixed;
    top: 0;
    left: e;
    width: 100%;
    padding: 2rem 9X;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: lee;
}
. logo {
    font-size: 2. Srem;
    color: var(--text-color);
    font-weight: 70;
    cursor: default;
}
. navbar a {
    font-size: 1.5rem
    color: var(--text-color);
    margin- left :
    4rem;
    font-weight :
    7eø;
    . navbar a: hover,
    . navbar a. active
    color: var(--text-color);